@charset "ISO-8859-1";

body {
	background-image:url("https://cdn.pixabay.com/photo/2016/06/22/16/22/clouds-1473311_1280.jpg");
	background-repeat: no-repeat;
	background-size:cover;
}

#form {
	width:1000px;
	margin:0 auto;
	padding:50px;
	opacity:0.8;
}

.header {
	margin-top:30px;
	margin-bottom:20px;
}

.header h1 {
	font-family: Pacifico;
	font-size: 60px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 26.4px;
	margin-bottom:60px;
	text-align:center;
	color:#616161;
	opacity:0.9;
}

#btnRegister {
	padding-bottom:40px;
}

.details_check {
	text-align:center;
}

#check:hover {
	color:#dd2c00;
	text-decoration:none;
}

.successMessage {
	text-align:center;
	color:purple;
	font-size:20px;
	font-family:Times New Roman;
}