@charset "ISO-8859-1";

body {
	background-image:url("https://cdn.pixabay.com/photo/2017/07/01/19/48/background-2462434_1280.jpg");
	background-repeat: no-repeat;
	background-size:cover;
}

#form {
	width:1000px;
	margin:0 auto;
	padding:50px;
}

.header {
	margin-top:30px;
	margin-bottom:20px;
}

.header h1 {
	color:#d500f9;
	text-align:center;
	font-size:60px;
	font-family:serif;
}

#btnRegister {
	padding-bottom:40px;
}

.details_check a {
	text-align:center;
}