@charset "ISO-8859-1";

*{
	margin: 0 auto;
	padding: 0;
}

.wrapper {
	width: 100%;
	background-color: lightgray;
	height: 100%;
}

h1 {
	text-align:center;
}

img {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 500px;
}

.errorMsg {
	text-align:center;
}

.errorMsg h3 {
	color:red;
}
