@charset "ISO-8859-1";


*{
	margin: 0 auto;
	padding: 0;
}

.wrapper {
	width: 100%;
	background-color: lightgray;
	height: 100%;
}


table {
	border-spacing: 15px;
}

table tr td{
	padding:10px;
	background-color:white;
}

table tr td img {
	width: 250px;
	height: 120px;
}

table tr td p {
	width: 250px;
	height: 30px;
	text-align: center;
	padding-right: 10px;
}

.btnShowDetails {
	background-color: green;
	color:white;
	height: 20px;
	border:none;
	border-radius:5px;
	width: 250px;
	height: 30px;
}

button a {
	text-decoration: none;
	color:white;
}